*{
    box-sizing: border-box;
}
body {
    font-size: $fs-1;
    font-family: 'Source Sans Pro', sans-serif;
    color:$color-black-0;
    line-height: $lh-1;
    font-weight: $fw-4;
    letter-spacing: $ls-0;
}